<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Social network tagging -->
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="educapeace.org: EDUCAPEACE - Organisation de lutte contre l'analphabétisme des enfants dans les zones rurales du Cameroun et d'Afrique subsaharienne, et l'accès aux soins de santé pour tous, ainsi qu'à l'eau et assainissement."/>
    <meta property="og:url" content="http://www.educapeace.org/"/>
    <meta property="og:image" content="http://www.educapeace.org/bundles/edu/assets/home_rs.png"/>

    <!-- PAGE settings -->
    <title>Educapeace - {{ page_titre }}</title>

    <meta name="description" content="L'Organisation EDUCAPEACE lutte contre l'analphabétisme des enfants dans les zones rurales du Cameroun et d'Afrique subsaharienne, et l'accès aux soins de santé pour tous, ainsi qu'à l'eau et assainissement.">
    <meta name="keywords" content="éducation, afrique, humanitaire, santé, aide humanitaire, analphabétisme, enfance">
    <meta name="author" content="EK DEV Center">

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="{{ absolute_url(asset('bundles/edu/theme.css')) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

    <!-- Script: Animated entrance -->
    <script src="{{ absolute_url(asset('bundles/edu/js/animate-in.js')) }}"></script>
</head>

<body class="text-center">

<!-- Navbar -->
{% include '::nav.html.twig' %}
<!-- /Navbar -->

{% if theme is defined and theme == 'news' %}
    <div class="py-5 text-center opaque-overlay h-50" style="background-image: url({{ asset('bundles/edu/assets/DSC_7219.jpg') }});"> </div>
{% elseif theme is defined and theme == 'shop' %}
    <div class="py-5 text-center opaque-overlay h-50" style="background-image: url({{ asset('bundles/edu/assets/DSC_7276.jpg') }});"> </div>
{% elseif theme is defined and theme == 'organisation' %}
    <div class="py-5 text-center opaque-overlay h-50" style="background-image: url({{ asset('bundles/edu/assets/DSC_7362.jpg') }});"> </div>
{% else %}
    <div class="py-5 text-center opaque-overlay h-50" style="background-image: url({{ asset('bundles/edu/assets/DSC_7412.jpg') }});"> </div>
{% endif %}

{% if theme is defined and theme == 'news' %}
<div class="container-fluid bg-secondary">
    <div class="row justify-content-center">
        <div class="col-md-6 text-white col-sm-12">
            <h3 class="pt-2 display-4">{% if page_titre is defined %} {{ page_titre }} {% endif %}</h3>
        </div>
    </div>
</div>
{% elseif theme is defined and theme == 'shop' %}
    <div class="container-fluid bg-secondary-shop">
        <div class="row justify-content-center">
            <div class="col-md-6 text-white col-sm-12">
                <h3 class="pt-2 display-4">{% if page_titre is defined %} {{ page_titre }} {% endif %}</h3>
            </div>
        </div>
    </div>
{% endif %}

<!-- Content -->
{% block content %}
{% endblock %}
<!-- /Content -->

<!-- Sponsor logos -->
{% include '::sponsor.html.twig' %}
<!-- /Sponsor logos -->

<!-- Call to action -->
{% include '::call_action.html.twig' %}
<!-- /Call to action -->

<!-- Modal -->
{% include '::modal.html.twig' %}
<!-- /Modal -->

<!-- Footer -->
{% include '::footer.html.twig' %}
<!-- /Footer -->

<!-- JavaScript dependencies -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>