<div class="py-3 bg-light" id="adherer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 text-md-left text-center">
                <h6 class="">
                    {{ 'others.text.2'|trans }}  {{ 'others.text.10'|trans }};<br>
                    {{ 'others.text.3'|trans }}
                </h6>
            </div>
            <div class="col-md-4 text-md-left text-center">
                <h6>
                    {{ 'others.text.4'|trans }}<br>
                    {{ 'others.text.5'|trans }}<br>
                    {{ 'others.text.6'|trans }}
                </h6>
                <a href="https://www.donnerenligne.fr/educapeace/faire-un-don" target="_blank" class="btn btn-md text-white btn-primary mb-2">{{ 'others.text.7'|trans }}</a>
            </div>
            <div class="col-md-2 animate-in-right">
                <a href="/adhesion" class="btn btn-md btn-block btn-secondary text-white">{{ 'others.text.8'|trans }}</a>
                <a href="#" class="btn btn-block btn-md btn-secondary text-white" data-toggle="modal" data-target="#authentificationModal">{{ 'others.text.9'|trans }}</a>
            </div>
        </div>
    </div>
</div>