<footer class="text-md-left text-center pt-3" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <img src="{{ asset('bundles/front/assets/brandEducapeace.png') }}" class="mx-auto pb-2" width="180">
                <p>+33 (0)6 09 69 79 67</p>
                <p class="my-3">
                    <a target="blank">{{ 'others.text.5.a'|trans }}<br/>{{ 'others.text.5'|trans }}</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                {% include '::contact_form.html.twig' %}
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <h4>{{ 'others.text.13'|trans }}</h4>
                {#
                <a href="https://www.facebook.com/Educapeace/" target="blank"><i class="fab fa-facebook-square text-muted fa-3x m-1"></i></a>
                <a href="#" target="blank"><i class="fab fa-twitter-square text-muted fa-3x m-1"></i></a>
                <a href="#" target="blank"><i class="fab fa-youtube-square text-muted fa-3x m-1"></i></a>
                #}
                <a href="https://www.facebook.com/Educapeace/" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-1"></i></a>
                <a href="#" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
                <a href="#" target="blank"><i class="fa fa-3x text-muted fa-youtube-play m-1"></i></a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p class="text-muted my-2">© {{ "now"|date('Y') }} Educapeace - {{ 'others.text.14'|trans }}. </p>
            </div>
        </div>
    </div>
</footer>