<div class="py-2">
    <div class="container-fluid">
        <div class="row">
            <hr size="1" color="#eee"/>
            <div class="col-md-12">
                <h1 class="mb-4 text-center">{{ 'others.text.1'|trans }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            {#
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/AE75.jpg') }}">
            </div>
            #}
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/logo-pan-piper.jpg') }}">
            </div>
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/pontault-combault.png') }}">
            </div>
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/csc pontault combault.jpg') }}">
            </div>
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/Conseil-Gnral-77.jpg') }}">
            </div>
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/ascovime-opt2.png') }}">
            </div>
        </div>
        {#
        <div class="row justify-content-center">
            <div class="col-md-1 col-2">
                <img class="center-block img-fluid d-block" src="{{ asset('bundles/front/assets/partners/ekdev.png') }}">
            </div>
        </div>
        #}
    </div>
</div>