{# src/EduBundle/Resources/views/Home/news.html.twig #}
{# Template Bundle #}
{% extends "EduBundle::layout.html.twig" %}

{% block title %}{{ page_titre }}{% endblock %}

{% block content %}
    <section id="blog" class="container py-2">
        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item py-3"><div class="row">
                            <div class="col-12 blog-content py-3">
                                <img class="img-fluid" src="{{ asset('bundles/edu/assets/DSC_5095.jpg') }}" width="100%" alt="">
                                <div class="m-3 entry-meta"> <span id="publish_date">18 juin</span></div>
                                <h4 class="">CLÔTURE AU TOUR DU PUITS</h4>
                                <p class="text-left">Dernières étapes de la construction de notre 2ème puits conformément à notre engagement contractuel : - Formation du comité d'entretien - Mise en place de la clôture et portillon pour le puits. Parce qu'il est important d'aller au bout
                                    de ce qu'on fait si on veut assurer sa pérennité : N'étant pas sur place, nous avons jugé utile de mettre en place un Comité de gestion du puits constitué des gens du village eux-mêmes. Une petite formation sur l'importance du projet,
                                    et quelques notions du WASH (eau assainissement et hygiène). Nous avons également signé un petit contrat d'entretien avec l'entreprise qui prendra effet dès la fin de la garantie. En cas de panne, il suffira d'entrer en contact avec
                                    l'entrepreneur et voir ce qu'il a lieu de faire. Nous avons également protégé le point d'eau d'une clôture et portillon afin que ce lieu ne soit pas accessible à tous (animaux par exemple). De ce fait une nouvelle plaque de remerciements
                                    du sponsor à été faite pour la clôture également en guise de Reconnaissance.
                                    <br>EDUCAPEACE----&gt; Le geste de l'espoir : Merci pour votre confiance </p>
                                <a href="#" class="btn btn-secondary text-white">En savoir +</a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                    <div class="blog-item py-3">
                        <div class="row">
                            <div class="col-12 blog-content py-3">
                                <img class="img-fluid" src="{{ asset('bundles/edu/assets/dsc_4604.jpg') }}" width="100%" alt="">
                                <div class="m-3 entry-meta"> <span id="publish_date">18 juin</span></div>
                                <h4 class="">DON DE GOURDES</h4>
                                <p class="text-left">L'humanité à besoin de chacun de nous, et c'est grâce à tout un chacun que nous pouvons améliorer ce monde. Nous n'avons pas la prétention de vouloir changer le monde, mais nous avons la conviction et l'espoir qu'un jour ce monde sera
                                    meilleur. Vous avez été 37 personnes à avoir répondu favorablement à notre appel de coeur pour l'achat des gourdes à eau aux enfants. Ces gourdes ont été distribués dans nos deux écoles partenaire, 150 pièces à l'école publique de Bitsogmam,
                                    et 100 pièces à l'école publique de Nkol-Mbong kama. Nous avons trouvé utile de signe un "accord pour dons de gourdes" Cet accord stipule que les gourdes offertes par l'association Educapeace sont et demeure une propriété de ces écoles.
                                    Ces goudes en innoxe,d'une contenance d'un litre ,doté d'un double capuchon pour fermeture , la principale résultante est non seulement une bonne conservation du liquide qui garde sa température ambiante mais une protection ultime contre
                                    les microbes anaérobiques, ces enfants auront à leur disposition tout au long de la journée une eau saine pour assouvir leur soif. Aucun d'entre vous ne connaissent les enfants, mais vous l'avez fait sans hésitation. Vous pouvez être
                                    fière d'avoir contribué à une action qui pour certain semble anodin , mais pour ces enfants est un grand geste qui améliorera leur conditions de vie et restera à jamais gravé dans leur mémoire. Les photos ci - dessous témoignent de la
                                    joie de ces enfants.
                                    <br>Merci pour votre générosité et confiance.</p>
                                <a class="btn btn-secondary text-white" href="#">En savoir +</a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" aria-label="Previous" class="page-link"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">4</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
                        </li>
                    </ul>
                    <!--/.pagination-->
                </div>
                <!--/.col-md-8-->
                <aside class="col-md-4 p-3">
                    <div class="widget nouvelles">
                        <h5 class="text-right">DERNIÈRES NOUVELLES</h5>
                        <ul class="">
                            <li>
                                <a href="#">
                                    <img src="{{ asset('bundles/edu/assets/DSC_5098.jpg') }}" alt="" class="img-thumbnail">
                                    <h6>Consequat bibendum quam liquam viverra</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{ asset('bundles/edu/assets/DSC_7276.jpg') }}" alt="" class="img-thumbnail">
                                    <h6>Consequat bibendum quam liquam viverra</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{{ asset('bundles/edu/assets/DSC_7412.jpg') }}" alt="" class="img-thumbnail">
                                    <h6>Consequat bibendum quam liquam viverra</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <!--/.row-->
        </div>
    </section>
{% endblock %}