{# src/EK/AssoBundle/Resources/views/Adhesion/index.html.twig #}
{# Template Bundle #}

{% extends "AssoBundle::layout_large.html.twig" %}

{% block title %}{{ page_titre }}{% endblock %}

{% block content %}
    <div class="row justify-content-center text-left">
        <div class="col-md-10 mx-4">

            <!-- Je donne en ligne -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.1'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    {{ 'label.done.2'|trans }}<br />
                    {{ 'label.done.3'|trans }}
                    <p style="margin-left: 20px;">
                        <br> • {{ 'label.done.4'|trans }},
                        <br> • {{ 'label.done.5'|trans }},
                        <br> • {{ 'label.done.6'|trans }}.
                    </p>
                </div>
            </div>
            <!-- /Je donne en ligne -->

            <!-- Je donne une fois-->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.7'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    <form>
                        <table width="100%" cellspacing="3" cellpadding="3" border="0" style="padding: 0.1em; border: none;">
                            <thead>
                            <tr>
                                <th width="32%" class="text-uppercase text-center" style="background-color: #d992db; color: white;">{{ 'form.supportus.title1'|trans }}</th>
                                <th width="2%"></th>
                                <th width="32%" class="text-uppercase text-center" style="background-color: #d992db; color: white;">{{ 'form.supportus.title2'|trans }}</th>
                                <th width="2%"></th>
                                <th width="32%" class="text-uppercase text-center" style="background-color: #d992db; color: white;">{{ 'form.supportus.title3'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr><td colspan="5" height="5px"></td></tr>
                            <tr>
                                <!-- Colonne 1 -->
                                <td width="32%" style="vertical-align: top; background-color: #00b9f1; color: white; font-weight: bold; border: none;">
                                    <table class="table-responsive" width="100%" cellpadding="2" cellspacing="2" border="0" style="background-color: #00b9f1;">
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3" class="text-center">{{ 'form.supportus.intro1'|trans }}<br/>{{ 'form.supportus.intro2'|trans }}</td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3"><img src="{{ asset('bundles/front/assets/img/child.png') }}" class="mx-auto pb-2" width="260"></td>
                                        </tr>
                                        <tr style="text-align: center;">
                                            <td width="33%"><button type="button" id="_choice-btn-60-1" class="btn btn-md btn-block bg-secondary-dons text-white">60€</button></td>
                                            <td width="33%"><button type="button" id="_choice-btn-100-1" class="btn btn-md btn-block bg-secondary-dons text-white">100€</button></td>
                                            <td width="34%"><button type="button" id="_choice-btn-150-1" class="btn btn-md btn-block bg-secondary-dons text-white">150€</button></td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr style="vertical-align: middle">
                                            <td style="vertical-align: middle" colspan="3" class="text-right text-uppercase">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small>{{ 'form.supportus.free_amount'|trans }}</small>
                                                        (<span class="input-group-addon">€</span>):
                                                    </label>
                                                    <input type="hidden" class="form-control" size="5" id="amount_choice_1" name="_amount_choice_1" required>
                                                    <input type="text" class="form-control" size="5" id="amount_free_1" name="_amount_free_1" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr style="vertical-align: middle">
                                            <td style="vertical-align: middle" colspan="3" class="text-right text-uppercase">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small>{{ 'form.supportus.deduct_amount'|trans }}</small>
                                                        (<span class="input-group-addon">€</span>):
                                                    </label>
                                                    <input type="hidden" class="form-control" size="5" id="amount_choice_deduct_1" name="_amount_choice_deduct_1" required>
                                                    <input type="text" class="form-control" size="8" id="amount_deduct_1" name="_amount_deduct_1" readonly>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="2%"></td>
                                <!-- Colonne 2 -->
                                <td width="32%" style="vertical-align: top; background-color: #8ed8f8; color: white;">
                                    <table class="table-responsive" width="100%" cellpadding="2" cellspacing="2" border="0" style="background-color: #8ed8f8;">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.civility'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <select class="form-control" id="civility" name="_civility" required>
                                                        <option value="">--</option>
                                                        <option value="1">Madame</option>
                                                        <option value="2">Mademoiselle</option>
                                                        <option value="3">Monsieur</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.firstname'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="firtsname" name="_firtsname" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.name'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="lastname" name="_lastname" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.email'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="email" class="form-control" id="amountFree" name="_amountFree" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.address'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="address" name="_address" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.address_cpl'|trans }}</small>
                                                    </label>
                                                    <input type="text" class="form-control" id="address_complement" name="_address_complement" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.zipcode'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="zipcode" name="_zipcode" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.city'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="city" name="_city" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.country'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <select class="form-control" id="country" name="_country" required>
                                                        <option value="">Choisir</option>
                                                        <option value="1">France</option>
                                                        <option value="2">Gabon</option>
                                                        <option value="3">Gambie</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.phone'|trans }}</small>
                                                    </label>
                                                    <input type="text" class="form-control" id="phone" name="_phone" required>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="2%"></td>
                                <!-- Colonne 3 -->
                                <td width="32%" style="vertical-align: top; background-color: #c7eafb;">
                                    <table width="100%" class="table-responsive" cellpadding="2" cellspacing="2" border="0" style="background-color: #c7eafb;">
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <button type="button" id="choice-btn-100" class="btn btn-md btn-block bg-secondary-card text-white">
                                                        <small>{{ 'form.rules.title1'|trans }}</small>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="33%">
                                                <img src="{{ asset('bundles/front/assets/paye/mastercard.png') }}" width="80">
                                                <input type="radio" class="form-control" value="mastercard" id="creditcard" name="_creditcard">
                                            </td>
                                            <td width="34%">
                                                <img src="{{ asset('bundles/front/assets/paye/visa.png') }}" width="80">
                                                <input type="radio" class="form-control" value="visa" id="creditcard" name="_creditcard">
                                            </td>
                                            <td width="33%">
                                                <img src="{{ asset('bundles/front/assets/paye/cb.png') }}" width="80">
                                                <input type="radio" class="form-control" value="cb" id="creditcard" name="_creditcard">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.rules.numcard'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="numcard" name="_numcard" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.rules.date1'|trans }}</small>
                                                    </label>
                                                    <select class="form-control" id="country" name="_country" required>
                                                        <option value="">--</option>
                                                        <option value="01">02</option>
                                                        <option value="02">03</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.rules.date2'|trans }}</small>
                                                    </label>
                                                    <select class="form-control" id="country" name="_country" required>
                                                        <option value="">--</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.rules.codesecurity'|trans }}</small>
                                                    </label>
                                                     <input type="text" class="form-control" id="code_security" name="_code_security" required>
                                                </div>
                                            </td>
                                            <td style="text-align: left;">
                                                <div class="form-group text-left">
                                                    <label for="text">
                                                        <small class="text-uppercase">&nbsp;</small>
                                                    </label>
                                                </div>
                                                <a href="#" target="blank"><i class="far fa-question-circle"></i></a>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center;">
                                                <div class="form-group text-center" style="align-self: center">
                                                    <input type="hidden" id="typedon" name="_typedon" value="1">
                                                    <input type="submit" class="form-control-spp btn btn-md btn-block-spp bg-secondary-dons text-uppercase" id="submit1" name="_submit1" value="{{ 'form.rules.submit'|trans }}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr><td colspan="3" class=" text-center text-uppercase">{{ 'form.rules.title2'|trans }}</td></tr>
                                        <tr>
                                            <td colspan="3" class=" text-center">
                                                <a href="#" target="_blank">
                                                    <img src="{{ asset('bundles/front/assets/paye/paypal.png') }}" width="200">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <!-- /Je donne une fois-->

            <!-- Je donne tous les mois -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.8'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    <form>
                        <table width="100%" cellspacing="3" cellpadding="3" border="0" style="padding: 0.1em; border: none;">
                            <thead>
                            <tr>
                                <th width="32%" class="text-uppercase text-center" style="background-color: #d992db; color: white;">{{ 'form.supportus.title1'|trans }}</th>
                                <th width="2%"></th>
                                <th width="32%" class="text-uppercase text-center" style="background-color: #d992db; color: white;">{{ 'form.supportus.title2'|trans }}</th>
                                <th width="2%"></th>
                                <th width="32%" class="text-uppercase text-center" style="background-color: #d992db; color: white;">{{ 'form.supportus.title3'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr><td colspan="5" height="5px"></td></tr>
                            <tr>
                                <!-- Colonne 1 -->
                                <td width="32%" style="vertical-align: top; background-color: #00b9f1; color: white; font-weight: bold; border: none;">
                                    <table class="table-responsive" width="100%" cellpadding="2" cellspacing="2" border="0" style="background-color: #00b9f1;">
                                        <tr>
                                            <td colspan="3"><img src="{{ asset('bundles/front/assets/img/child.png') }}" class="mx-auto pb-2" width="260"></td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                {{ 'form.supportus.intro1'|trans }}<br/>{{ 'form.supportus.intro2'|trans }}
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr style="text-align: center;">
                                            <td width="33%"><button type="button" id="_choice-btn-60-2" class="btn btn-md btn-block bg-secondary-dons text-white">60€</button></td>
                                            <td width="33%"><button type="button" id="_choice-btn-100-2" class="btn btn-md btn-block bg-secondary-dons text-white">100€</button></td>
                                            <td width="34%"><button type="button" id="_choice-btn-150-2" class="btn btn-md btn-block bg-secondary-dons text-white">150€</button></td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr style="vertical-align: middle">
                                            <td style="vertical-align: middle" colspan="3" class="text-right text-uppercase">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small>{{ 'form.supportus.free_amount'|trans }}</small>
                                                        (<span class="input-group-addon">€</span>):
                                                    </label>
                                                    <input type="hidden" class="form-control" size="5" id="amount_choice_2" name="_amount_choice_2" required>
                                                    <input type="text" class="form-control" size="5" id="amount_free_2" name="_amount_free_2" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr style="vertical-align: middle">
                                            <td style="vertical-align: middle" colspan="3" class="text-right text-uppercase">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small>{{ 'form.supportus.deduct_amount'|trans }}</small>
                                                        (<span class="input-group-addon">€</span>):
                                                    </label>
                                                    <input type="hidden" class="form-control" size="5" id="amount_choice_deduct_2" name="_amount_choice_deduct_2" required>
                                                    <input type="text" class="form-control" size="8" id="amount_deduct_2" name="_amount_deduct_2" readonly>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="2%"></td>
                                <!-- Colonne 2 -->
                                <td width="32%" style="vertical-align: top; background-color: #8ed8f8; color: white;">
                                    <table class="table-responsive" width="100%" cellpadding="2" cellspacing="2" border="0" style="background-color: #8ed8f8;">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.civility'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <select class="form-control" id="civility" name="_civility" required>
                                                        <option value="">--</option>
                                                        <option value="1">Madame</option>
                                                        <option value="2">Mademoiselle</option>
                                                        <option value="3">Monsieur</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.firstname'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="firtsname" name="_firtsname" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.name'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="lastname" name="_lastname" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.email'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="email" class="form-control" id="amountFree" name="_amountFree" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.address'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="address" name="_address" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.address_cpl'|trans }}</small>
                                                    </label>
                                                    <input type="text" class="form-control" id="address_complement" name="_address_complement" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.zipcode'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="zipcode" name="_zipcode" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.city'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="city" name="_city" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.country'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <select class="form-control" id="country" name="_country" required>
                                                        <option value="">Choisir</option>
                                                        <option value="1">France</option>
                                                        <option value="2">Gabon</option>
                                                        <option value="3">Gambie</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.details.phone'|trans }}</small>
                                                    </label>
                                                    <input type="text" class="form-control" id="phone" name="_phone" required>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="2%"></td>
                                <!-- Colonne 3 -->
                                <td width="32%" style="vertical-align: top; background-color: #c7eafb;">
                                    <table width="100%" class="table-responsive" cellpadding="2" cellspacing="2" border="0" style="background-color: #c7eafb;">
                                        <tr>
                                            <td style="text-align: center;">
                                                <div class="form-group" style="text-align: center; margin-left: 12px;">
                                                    <button type="button" id="choice-btn-100" class="btn btn-md btn-block-sup bg-secondary-card text-white">
                                                        <small>{{ 'form.rules.title2'|trans }}</small>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.rules.iban'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="code_iban" name="_code_iban" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="text">
                                                        <small class="text-uppercase">{{ 'form.rules.bic'|trans }}</small>
                                                        <span class="input-group-addon" style="color: #622466;">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="code_bic" name="_code_bic" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr>
                                            <td style="text-align: center;">
                                                <div class="form-group text-center" style="align-self: center">
                                                    <input type="hidden" id="typedon" name="_typedon" value="2">
                                                    <input type="submit" class="form-control-spp btn btn-md btn-block-spp bg-secondary-dons text-uppercase" id="submit2" name="_submit2" value="{{ 'form.rules.submit'|trans }}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td class=" text-center text-uppercase">{{ 'form.rules.avis'|trans }}</td></tr>
                                        <tr>
                                            <td class=" text-center">
                                                <a href="#" target="_blank">
                                                    <img src="{{ asset('bundles/front/assets/paye/paypal.png') }}" width="200">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <!-- /Je donne une fois-->

            <!-- Par cheque -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.9'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    {{ 'label.done.10'|trans }}<br />
                    {{ 'label.done.11'|trans }}
                    <p style="margin-left: 20px;">
                        <br> • {{ 'label.done.12'|trans }},
                        <br> • {{ 'label.done.13'|trans }},
                        <br> • {{ 'label.done.14'|trans }}.
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ 'label.done.15'|trans }}<br />
                        <b>{{ 'label.done.16'|trans }}<br />
                        {{ 'label.done.17'|trans }}: {{ 'label.address.value'|trans }}</b><br />
                        {{ 'label.done.18'|trans }} <span class="text-uppercase"><b>{{ 'label.done.16'|trans }}</b></span><br />
                    </p>
                </div>
            </div>
            <!-- /Par cheque -->

            <!-- Devenir partenaire -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.19'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    {{ 'label.done.20'|trans }}<br />
                    {{ 'label.done.21'|trans }}: {{ 'label.num.officiel'|trans|trim }};
                    <br><br>

                    {{ 'label.done.21.a'|trans }}
                    <p style="margin-left: 20px;">
                        <br> • {{ 'label.done.22'|trans }},
                        <br> • {{ 'label.done.23'|trans }}.
                    </p>
                </div>
                <div class="row">
                    {{ 'label.done.24'|trans }}
                    <p style="margin-left: 20px;">
                        <br> • {{ 'label.done.25'|trans }},
                        <br> • {{ 'label.done.26'|trans }},
                        <br> • {{ 'label.done.27'|trans }},
                        <br> • {{ 'label.done.28'|trans }}.
                    </p>
                </div>
                <div class="row">
                    <p style="text-align: justify;">{{ 'label.done.29'|trans }}</p>
                    {{ 'label.done.30'|trans }}<br><br>
                    <b>{{ 'label.done.31'|trans }}</b><br><br>
                </div>
                <div class="row">
                    <p style="margin-top: 5px; text-align: justify;">
                        <span class="text-uppercase"><u><small><b>{{ 'label.done.32'|trans }}</b></small></u>:</span>
                        <br/><br/>
                        {{ 'label.done.33'|trans }}<br><br>
                        <span style="color: red"><b>{{ 'label.done.34'|trans }}</b></span>: {{ 'label.done.35'|trans }}
                    </p>
                </div>
                <div class="row">
                    <p style="margin-top: 5px; text-align: justify;">
                        <span style="color: red"><b>{{ 'label.done.36'|trans }}</b></span>: {{ 'label.done.37'|trans }}<br><br>
                        <span style="color: red"><b>{{ 'label.done.38'|trans }}</b></span>: {{ 'label.done.39'|trans }}<br><br>
                        <span style="color: red"><b>{{ 'label.done.40'|trans }}</b></span>: {{ 'label.done.41'|trans }}<br><br>
                        <span style="color: red"><b>{{ 'label.done.42'|trans }}</b></span>: {{ 'label.done.43'|trans }}.
                    </p>
                </div>
                <div class="row">
                    <p style="margin-top: 5px; text-align: justify;">
                        <span style="color: red"><b>{{ 'label.done.44'|trans }}</b></span>:<br><br>
                        <b>{{ 'label.done.45'|trans }}</b> {{ 'label.done.45.list'|trans }}
                    </p>
                </div>
            </div>
            <!-- /Devenir partenaire -->

            <!-- Association partenaire -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.46'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    {{ 'label.done.47'|trans }} <b>{{ 'label.done.47.list'|trans }}</b>
                    {{ 'label.done.47.suite.1'|trans }} {{ 'label.done.47.suite.2'|trans }}
                    {{ 'label.done.47.suite.3'|trans }}
                    <p style="margin-top: 10px; text-align: justify;">
                        {{ 'label.done.48'|trans }}
                    </p>
                </div>
            </div>
            <!-- /Association partenaire -->

            <!-- Devenir benevole -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.49'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    <p>{{ 'label.done.50'|trans }}</p>
                    <br/>
                    <p style="margin-top: 20px;">
                        <b>{{ 'label.done.51'|trans }}:</b>
                        <br/>
                        {{ 'label.done.52'|trans }}
                        <br/>
                        <b>{{ 'label.done.53'|trans }}</b> {{ 'label.email.value'|trans }} / {{ 'label.email2.value'|trans }}
                    </p>
                </div>
                <div class="row">
                    <p style="margin-top: 20px;">
                        <b>{{ 'label.done.54'|trans }}:</b>
                        <br/>
                        {{ 'label.done.55'|trans }}
                        <br/>
                        <b>{{ 'label.done.53'|trans }}</b> {{ 'label.email.value'|trans }} / {{ 'label.email2.value'|trans }}
                    </p>
                </div>
                <div class="row">
                    <p style="margin-top: 20px;">
                        <b>{{ 'label.done.56'|trans }}:</b>
                        <br/>
                        {{ 'label.done.57'|trans }}
                        <br/>
                        <b>{{ 'label.done.53'|trans }}</b> {{ 'label.email.value'|trans }} / {{ 'label.email2.value'|trans }}
                    </p>
                </div>
            </div>
            <!-- /Devenir benevole -->

            <!-- Dons materiel -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.58'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    {{ 'label.done.59'|trans }} {{ 'label.done.59.suite.1'|trans }} {{ 'label.address.value'|trans }}.
                </div>
                <br/>
                <div class="row">
                    <span style="color: orangered;"><b>{{ 'label.done.60'|trans }}</b></span><br/>
                    <p style="margin-left: 25px;">{{ 'label.done.61'|trans }}</p>
                </div>
                <br/>
                <div class="row">
                    <p>
                        <span style="color: orangered;"><b>{{ 'label.done.62'|trans }}</b></span>
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ 'label.done.63'|trans }}
                    </p>
                </div>
                <br/>
                <div class="row">
                    <span style="color: orangered;"><b>{{ 'label.done.64'|trans }}</b></span><br/>
                    <p style="margin-left: 25px;">{{ 'label.done.65'|trans }}</p>
                </div>
                <br/>
                <!-- Materiel informatique -->
                <div class="row">
                    <p>
                        <span style="color: orangered; font-size: 17pt;"><b>{{ 'label.done.66'|trans }}</b></span><br/>
                        {{ 'label.done.67'|trans }}<br />
                        <span style="color: orangered;"><b>{{ 'label.done.68'|trans }}</b></span> {{ 'label.done.68.suite'|trans }}
                    </p>
                </div>
                <!-- /Materiel informatique -->
            </div>
            <!-- /Par cheque -->


            <!-- Notre equipe -->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3 text-uppercase"><small style="font-size: 15pt;"><b>{{ 'label.done.69'|trans }}</b></small></h1>
                </div>
                <div class="row">
                    <p style="margin-left: 20px;">
                        <br> • {{ 'label.done.70'|trans }} {{ 'label.team.1'|trans }},
                        <br> • {{ 'label.done.71'|trans }} {{ 'label.team.2'|trans }},
                        <br> • {{ 'label.done.72'|trans }} {{ 'label.team.3'|trans }},
                        <br> • {{ 'label.done.73'|trans }} {{ 'label.team.4'|trans }},
                        <br> • {{ 'label.done.74'|trans }} {{ 'label.team.5'|trans }}.
                    </p>
                </div>
                <div class="row">
                    {{ 'label.done.75'|trans }} {{ 'label.numero.wouri'|trans }}.<br/><br/>
                    {{ 'label.done.76'|trans }}<br/><br/>
                    {{ 'label.done.77'|trans }}<br/><br/>
                    {{ 'label.done.78'|trans }}.<br/>
                    <hr size="1" color="#eee" width="100%"/>
                </div>
            </div>
            <!-- /Notre equipe -->
        </div>
    </div>
{% endblock %}