<div class="card" xmlns="http://www.w3.org/1999/html" style="vertical-align: top">
    <h3 class="card-header card-header-product">PANIER</h3>
    <div class="card-block card-align-product">
        <table width="100%">
            <tr>
                <td><span id="prod_qte_1">1</span> x Titre produit 1</td>
                <td id="plus_1" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/plus.jpg')) }}"></td>
                <td id="minus_1" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/moins.jpg')) }}"></td>
                <td id="delete_1" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/poubelle.jpg')) }}"></td>
            </tr>
            <tr>
                <td><span id="prod_qte_2">1</span> x Titre produit 2</td>
                <td id="plus_2" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/plus.jpg')) }}"></td>
                <td id="minus_2" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/moins.jpg')) }}"></td>
                <td id="delete_2" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/poubelle.jpg')) }}"></td>
            </tr>
            <tr>
                <td><span id="prod_qte_3">1</span> x Titre produit 3</td>
                <td id="plus_3" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/plus.jpg')) }}"></td>
                <td id="minus_3" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/moins.jpg')) }}"></td>
                <td id="delete_3" class="price-right"><img src="{{ absolute_url(asset('bundles/front/assets/img/poubelle.jpg')) }}"></td>
            </tr>
        </table>
    </div>
    <div class="card-block card-align-product">
        <table width="100%">
            <tr>
                <td><b>Sous Total :</b></td>
                <td class="price price-right">45,67€</td>
            </tr>
            <tr>
                <td><b>Frais :</b></td>
                <td class="price price-right">4,00€</td>
            </tr>
            <tr>
                <td class="card-total">Total :</td>
                <td id="cart-total" class="card-total price-right">50,67€</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td><b>Code promo :</b></td>
                <td><input type="text" name="" id="cart-code-promo" placeholder="EDUCAPEACE20"/></td>
            </tr>
        </table>
    </div>
    <div class="card-footer card-header-product">
        COMMANDER
    </div>
</div>